<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crimson Heart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>

<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading font-weight-bold" style="font-size: 3rem;">Add Institution</h1>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events">Donation Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/institutions">Institutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exams">Exams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Add Links Section (Styled like navbar items) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events/add-form">Add Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations/add-form">Add Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/institutions/add-form">Add Institution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exams/add-form">Add Exam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/add-form">Add User</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/institutions/add" method="POST">
                    <input id="id" type="hidden" name="id"
                           th:value="(${institution} != null ? ${institution.getId()} : '')">
                    <div class="form-group">
                        <label for="name">Institution name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${institution} != null ? ${institution.getName()} : '')"
                               required
                               placeholder="Enter institution name">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text"
                               class="form-control"
                               id="phone"
                               name="phone"
                               th:value="(${institution} != null ? ${institution.getPhone()} : '')"
                               placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="text"
                               class="form-control"
                               id="email"
                               name="email"
                               th:value="(${institution} != null ? ${institution.getEmail()} : '')"
                               placeholder="Email Address">
                    </div>

                    <div class="form-group">
                        <label>Institution Type</label>
                        <select name="type" class="form-control">
                            <option th:if="${institution} != null"
                                    th:selected="${institution.getDonationEventEvents() != null &&
                                institution.getInstitutionsType().name() == itype.name()}"
                                    th:each="itype : ${types}"
                                    th:value="${itype.name()}"
                                    th:text="${itype.name()}">
                            </option>
                            <option th:if="${institution} == null"
                                    th:each="itype : ${types}"
                                    th:value="${itype.name()}"
                                    th:text="${itype.name()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <select name="locationId" class="form-control">
                            <option th:if="${institution} != null"
                                    th:selected="${institution.getLocation() != null &&
                                institution.getLocation().getId() == loc.getId()}"
                                    th:each="loc : ${locations}"
                                    th:value="${loc.getId()}"
                                    th:text="${loc.getAddress()}">
                            </option>
                            <option th:if="${event} == null"
                                    th:each="loc : ${locations}"
                                    th:value="${loc.getId()}"
                                    th:text="${loc.getAddress()}">
                            </option>
                        </select>
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>