<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crimson Heart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>

<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading font-weight-bold" style="font-size: 3rem;">Patient Exam</h1>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events">Donation Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/institutions">Institutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exams">Exams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Add Links Section (Styled like navbar items) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events/add-form">Add Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations/add-form">Add Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/institutions/add-form">Add Institution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exams/add-form">Add Exam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/add-form">Add User</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/exams/add" method="POST">
                    <input id="id" type="hidden" name="id"
                           th:value="(${exam} != null ? ${exam.getId()} : '')">

                    <div class="form-group">
                        <label for="performedOn">Date</label>
                        <input type="date"
                               class="form-control"
                               id="performedOn"
                               name="performedOn"
                               th:value="(${exam} != null ? ${#dates.format(exam.getPerformedOn(), 'yyyy-MM-dd')} : '')"
                               required>
                    </div>

                    <div class="form-group">
                        <label>Patient</label>
                        <select name="patient" class="form-control">
                            <option th:if="${exam} != null"
                                    th:selected="${exam.getPatient()!= null &&
                                exam.getPatient().getId() == pat.getId()}"
                                    th:each="pat : ${patients}"
                                    th:value="${pat.getId()}"
                                    th:text="${pat.getEmbg() + pat.getName()}">
                            </option>
                            <option th:if="${exam} == null"
                                    th:each="pat : ${patients}"
                                    th:value="${pat.getId()}"
                                    th:text="${pat.getEmbg()} + ' - ' + ${pat.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Doctor</label>
                        <select name="doctor" class="form-control">
                            <option th:if="${exam} != null"
                                    th:selected="${exam.getDoctor()!= null &&
                                exam.getDoctor().getId() == doc.getId()}"
                                    th:each="doc : ${doctors}"
                                    th:value="${doc.getId()}"
                                    th:text="${doc.getName()}">
                            </option>
                            <option th:if="${exam} == null"
                                    th:each="doc : ${doctors}"
                                    th:value="${doc.getId()}"
                                    th:text="${doc.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Nurse</label>
                        <select name="nurse" class="form-control">
                            <option th:if="${exam} != null"
                                    th:selected="${exam.getNurse()!= null &&
                                exam.getNurse().getId() == nurse.getId()}"
                                    th:each="nurse : ${nurses}"
                                    th:value="${nurse.getId()}"
                                    th:text="${nurse.getName()}">
                            </option>
                            <option th:if="${exam} == null"
                                    th:each="nurse : ${nurses}"
                                    th:value="${nurse.getId()}"
                                    th:text="${nurse.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="bloodPresure">Blood Pressure</label>
                        <input type="text"
                               class="form-control"
                               id="bloodPresure"
                               name="bloodPresure"
                               th:value="(${exam} != null ? ${exam.getBloodPressure()} : '')"
                               required
                               placeholder="Enter Blood Pressure">
                    </div>

                    <div class="form-group">
                        <label for="hemoglobin">Hemoglobin</label>
                        <input type="number"
                               class="form-control"
                               id="hemoglobin"
                               name="hemoglobin"
                               th:value="(${exam} != null ? ${exam.getHemoglobin()} : '')"
                               placeholder="Enter hemoglobin score">
                    </div>

                    <div class="form-group">
                        <label>Donating at</label>
                        <select name="donationEvent" class="form-control">
                            <option th:if="${exam} != null"
                                    th:selected="${exam.getDonationEvent() != null &&
                                exam.getDonationEvent().getId() == event.getId()}"
                                    th:each="event : ${events}"
                                    th:value="${event.getId()}"
                                    th:text="${event.getName()}">
                            </option>
                            <option th:if="${exam} == null"
                                    th:each="event : ${events}"
                                    th:value="${event.getId()}"
                                    th:text="${event.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="successfulExam">Was the exam successful?</label>
                        <input type="hidden" name="successfulExam" value="false" />
                        <input type="checkbox"
                               class="form-check-input"
                               id="successfulExam"
                               name="successfulExam"
                               th:checked="${exam != null and exam.isSuccessfulExam()}" />
                    </div>

                    <div class="form-group">
                        <label for="comment">Additional comment</label>
                        <input type="text"
                               class="form-control"
                               id="comment"
                               name="comment"
                               th:value="(${exam} != null ? ${exam.getComment()} : '')"
                               placeholder="Additional comment">
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>