<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>

<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading font-weight-bold" style="font-size: 3rem;">CRIMSON HEART</h1>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events">Donation Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/institutions">Institutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exams">Exams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Add Links Section (Styled like navbar items) -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events/add-form">Add Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locations/add-form">Add Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/institutions/add-form">Add Institution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exams/add-form">Add Exam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/add-form">Add User</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${locations.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip</th>
                            <th scope="col">Country</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="location : ${locations}" class="location">
                            <td th:text="${location.getAddress()}"></td>
                            <td th:text="${location.getCity().name()}"></td>>
                            <td th:text="${location.getState()}"></td>
                            <td th:text="${location.getZip()}"></td>
                            <td th:text="${location.getCountry()}"></td>
                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/locations/delete/{id}' (id=${location.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-event">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block>
                                    <a th:href="@{/locations/edit/{locationId}(locationId=${location.getId()})}"
                                       class="btn btn-sm btn-info edit-event">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="locatios/add-form" class="btn btn-block btn-dark add-event-btn">
                            Add new Location
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>